body{
  background-color: #002699;
  text-align: center;
    font-family: sans-serif;


}

h1{

  font-size: 20px;
  font-weight: 200;
  color: #0000ff;

}

p{
  font-size: 10px;
  font-weight:100;
  color: white;
}
